<!-- 投稿内容の一覧を表示するhtmlテンプレート -->
<html>
    <head>
        <title>takuya kishi blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">takuya kishi</a></h1>
        </div>
        {{ posts }}
        
        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    </body>
</html>